body {
  background-color: #fff;
  font-family: 'ProximaNova-Regular', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  color: #ffffff;
  font-family: "Proxima Nova Bold";
  font-size: 48px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}

a:focus {
  outline: none;
}

input:focus,
button:focus {
  outline: none;
}

.slick-active {
  outline: none;
}

.hidden-screen {
  display: none;
}

.section-title {
  color: #202020;
  font-family: "Proxima Nova Bold";
  font-size: 26px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 68px;
}

.section-title::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -23px;
  left: 50%;
  margin-left: -24px;
  width: 48px;
  height: 1px;
  background-image: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
}

.button {
  font-family: 'Proxima Nova Bold';
  font-size: 14px;
  color: #202020;
  background-color: #ffdc38;
  border: 1px solid transparent;
  padding: 14px 25px;
  border-radius: 40px;
}

.button:hover {
  -webkit-box-shadow: 0 0 13px rgba(0,0,0,0.19);
  box-shadow: 0 0 13px rgba(0,0,0,0.19);
  background-color: #ffbb38;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button_descr {
  padding: 17px 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.47px;
}

.button_form {
  margin-top: 10px;
  padding: 18px 33px;
}

.button_form::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -182px;
  right: 149px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-top: 57px;
  padding-left: 28px;
  padding-right: 28px;
  border-left: 1px solid #aeb1eb;
  cursor: default;
}

.button_form::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: 176px;
  left: 152px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-top: 57px;
  padding-left: 28px;
  padding-right: 28px;
  border-right: 1px solid #aeb1eb;
  cursor: default;
}

.form-input {
  font-family: 'Proxima Nova Light';
  font-size: 14px;
  color: #606060;
  background-color: #fff;
  border: 1px solid transparent;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 15px;
}

.form-input__phone {
  background-image: url("../img/icon/phone-form.png");
  background-repeat: no-repeat;
  background-position: 25px;
  padding-left: 54px;
}

.form-input__user {
  background-image: url("../img/icon/user-form.png");
  background-repeat: no-repeat;
  background-position: 25px;
  padding-left: 54px;
}

.bold-text {
  color: #202020;
  font-family: "Roboto Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.slider-arrow {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 22px;
}

.slider-arrow_feed {
  width: 17px;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider-arrow_right_feed {
  right: 230px;
  top: 45px;
  height: 40px;
  background: url("../img/arrow-right.png") center no-repeat;
}

.slider-arrow_right_feed:hover {
  cursor: pointer;
}

.slider-arrow_left_feed {
  left: 230px;
  top: 45px;
  height: 40px;
  background: url("../img/arrow-left.png") center no-repeat;
}

.slider-arrow_left_feed:hover {
  cursor: pointer;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(#197FBD), to(#725BA5));
  background: linear-gradient(to right, #197FBD, #725BA5);
  padding-top: 54px;
  padding-bottom: 170px;
  position: relative;
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/background/bg.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.15;
}

.header a {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: 67px;
  width: 24px;
  height: 16px;
  background: url("../img/icon/arrow.png") center no-repeat;
  background-size: cover;
  border: none;
}

.header a:hover {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-top {
  padding-bottom: 80px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo__icon {
  background: url("../img/icon/logo.png") center no-repeat;
  background-size: 100%;
  width: 166px;
  height: 60px;
}

.header-logo__icon_line {
  padding-right: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: 1px solid #fff;
}

.header-logo__descr {
  padding-left: 28px;
  color: #fff;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-phone__number {
  color: #fff;
  font-family: "Roboto Bold";
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.header-phone__question {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: "Proxima Nova Light";
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.header-phone__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
}

.header-main__descr {
  vertical-align: middle;
  padding-right: 25px;
}

.header-main__descr_subtitle {
  color: #fff;
  font-family: "Proxima Nova Semibold";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 18px;
}

.header-main__descr_text {
  color: #fff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
}

.form {
  position: relative;
  text-align: center;
  z-index: 1;
}

.form::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: -35px;
  z-index: -1;
  padding-top: 313.5px;
  padding-left: 28px;
  padding-right: 28px;
  border-right: 1px solid #aeb1eb;
  border-left: 1px solid #aeb1eb;
  border-top: 1px solid #aeb1eb;
}

.form-block {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 35px;
}

.form-block__title {
  color: #fff;
  font-family: "Proxima Nova Bold";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-block__subtitle {
  color: #fff;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 26px;
}

.about {
  padding-top: 76px;
  padding-bottom: 76px;
}

.about-img {
  -ms-flex-preferred-size: 263px;
  flex-basis: 263px;
}

.about-img1 {
  position: relative;
}

.about-img1::before {
  content: '';
  display: block;
  position: absolute;
  top: 61px;
  left: 0;
  width: 263px;
  height: 51px;
  border-radius: 2px;
  z-index: -1;
  background-color: #1991d4;
}

.about-img2 {
  position: relative;
}

.about-img2::before {
  content: '';
  display: block;
  position: absolute;
  top: 61px;
  left: 0;
  width: 263px;
  height: 51px;
  border-radius: 2px;
  z-index: -1;
  background-color: #7e66e7;
}

.about-img__photo {
  margin-left: 17px;
  z-index: 1;
}

.about-img__title {
  margin-left: 17px;
}

.about-company {
  text-align: justify;
}

.about-company__descr {
  color: #5b5b5b;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 26px;
}

.about-company__descr p:first-child {
  margin-bottom: 13px;
}

.about-company__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.about-company__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
}

.about-company__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button-skills {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 25.47px;
}

.button-skills__center {
  position: absolute;
  right: 50%;
  margin-right: -132.5px;
}

.section-title__skills {
  margin-bottom: 43px;
}

.skills {
  padding-top: 75px;
  padding-bottom: 127px;
  background-color: #f4f9fb;
}

.skills-descr {
  color: #5b5b5b;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 60px;
  text-align: center;
}

.skills-descr p:first-child {
  margin-bottom: 16px;
}

.skills-level {
  text-align: center;
  margin-bottom: 45px;
}

.skills-level__img {
  max-height: 66px;
}

.skills-level__icon {
  margin-bottom: 7px;
}

.skills-level__title {
  color: #5b5b5b;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 22.14px;
}

.reazon {
  padding-top: 79px;
  padding-bottom: 76px;
}

.reazon-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 188px;
  padding: 0px 45px;
  border: 1px solid #eeedee;
  border-radius: 3px;
}

.reazon-why:hover {
  -webkit-box-shadow: 0 0 13px rgba(0,0,0,0.19);
  box-shadow: 0 0 13px rgba(0,0,0,0.19);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.reazon-why__number {
  position: relative;
  width: 86px;
  min-height: 86px;
  margin-top: 24px;
  margin-bottom: 14px;
  background-image: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  border-radius: 86px;
}

.reazon-why__title {
  color: #5b5b5b;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 22.14px;
}

.reazon-number {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: -14px;
  color: #fff;
  font-family: "ProximaNova-Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.reazon-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 46px;
  padding: 0 190px;
}

.reazon-certificate__img {
  border: 1px solid #eeedee;
  padding: 13px;
  margin-bottom: 30px;
  cursor: pointer;
  max-width: 124px;
  max-height: 175px;
}

.reazon-certificate__img:hover {
  -webkit-box-shadow: 0 0 13px rgba(0,0,0,0.19);
  box-shadow: 0 0 13px rgba(0,0,0,0.19);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.reazon-certificate__title {
  color: #5b5b5b;
  font-family: "Proxima Nova Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.zoom {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25,127,189,0.8)), to(rgba(114,91,165,0.8)));
  background: linear-gradient(to right, rgba(25,127,189,0.8), rgba(114,91,165,0.8));
}

.certificate {
  opacity: 1;
  display: block;
  position: fixed;
  z-index: 1100;
  width: 320px;
  left: 50%;
  top: 50%;
  margin-top: -225px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.certificate-close {
  position: fixed;
  z-index: 20;
  right: -6%;
  top: -35px;
  font-size: 42px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.button__group {
  padding: 18px 40px;
}

.group {
  background: -webkit-gradient(linear, left top, right top, from(#197FBD), to(#725BA5));
  background: linear-gradient(to right, #197FBD, #725BA5);
  padding-top: 85px;
  padding-bottom: 85px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.group::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/group/group-bg.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 39%;
  opacity: 0.15;
}

.group-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.group-form__descr {
  margin-right: 50px;
}

.group-form__title {
  color: #fff;
  font-family: "Roboto Bold";
  font-size: 26px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.group-form__subtitle {
  color: #fff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

textarea:focus {
  outline: none;
}

.slick-slide {
  margin-right: 10px;
  margin-left: 10px;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide img {
  display: inline;
}

.feedback-slider {
  width: 100%;
  margin: 0;
}

.section-title__feedback {
  margin-bottom: 51px;
}

.center {
  text-align: center;
}

.button__feedback {
  padding: 18px 51px;
}

.feedback {
  padding-top: 80px;
  padding-bottom: 80px;
}

.feedback-one {
  text-align: center;
}

.feedback-one__img {
  margin-bottom: 17px;
}

.feedback-one__name {
  color: #202020;
  font-family: "Roboto Bold";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.feedback-one__subname {
  color: #404040;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 15px;
}

.feedback-one__descr {
  color: #5b5b5b;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  text-align: justify;
  text-align-last: center;
  font-weight: 300;
  line-height: 22.14px;
  margin-bottom: 35px;
}

.feedback-one__descr p:first-child {
  margin-bottom: 25px;
}

.feedback {
  padding-top: 80px;
  padding-bottom: 80px;
}

.feedback-two {
  text-align: center;
}

.feedback-two__img {
  margin-bottom: 17px;
}

.feedback-two__name {
  color: #202020;
  font-family: "Roboto Bold";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.feedback-two__subname {
  color: #404040;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 15px;
}

.feedback-two__descr {
  color: #5b5b5b;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  text-align-last: center;
  line-height: 22.14px;
  margin-bottom: 35px;
}

.feedback-two__descr p:first-child {
  margin-bottom: 25px;
}

.overlay-feed {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25,127,189,0.8)), to(rgba(114,91,165,0.8)));
  background: linear-gradient(to right, rgba(25,127,189,0.8), rgba(114,91,165,0.8));
}

.feed {
  opacity: 1;
  display: none;
  position: fixed;
  z-index: 1100;
  left: 50%;
  top: 50%;
  margin-top: -157px;
  width: 360px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.feed-close {
  position: fixed;
  z-index: 20;
  right: 2%;
  top: -5px;
  font-size: 35px;
  color: #aeb1eb;
  font-weight: 300;
  cursor: pointer;
}

.feed-form {
  position: relative;
  text-align: center;
  z-index: 1;
}

.feed-form_button {
  margin-top: 10px;
  padding: 18px 33px;
}

.feed-form_button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -176px;
  right: 157px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-top: 45px;
  padding-left: 28px;
  padding-right: 28px;
  border-left: 1px solid #aeb1eb;
  cursor: default;
  pointer-events: none;
}

.feed-form_button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: 183px;
  left: 158px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-top: 45px;
  padding-left: 28px;
  padding-right: 28px;
  border-right: 1px solid #aeb1eb;
  cursor: default;
  pointer-events: none;
}

.feed-form::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: -35px;
  z-index: -1;
  padding-top: 328.5px;
  padding-left: 28px;
  padding-right: 28px;
  border-right: 1px solid #aeb1eb;
  border-left: 1px solid #aeb1eb;
  border-top: 1px solid #aeb1eb;
}

.feed-form__block {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 35px;
}

.feed-form__title {
  color: #fff;
  font-family: "Proxima Nova Bold";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.input-text {
  height: 127px;
  width: 300px;
  padding: 10px 10px;
  border-radius: 20px;
  font-family: 'Proxima Nova Light';
  font-size: 14px;
  color: #606060;
  background-color: #fff;
  border: 1px solid transparent;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 15px;
}

.section-title__service {
  margin-bottom: 51px;
}

.button-service {
  margin-bottom: 29px;
  padding: 13px 52px;
}

.service {
  background-color: #f4f9fb;
  padding-top: 81px;
  padding-bottom: 81px;
}

.service-about {
  background-color: #fff;
  border: 1px solid #eeedee;
  border-radius: 4px;
  text-align: center;
  padding-top: 9px;
}

.service-about:hover {
  -webkit-box-shadow: 0 0 13px rgba(0,0,0,0.19);
  box-shadow: 0 0 13px rgba(0,0,0,0.19);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-about__img {
  margin-bottom: 35px;
}

.service-about__title {
  color: #202020;
  font-family: "Proxima Nova Semibold";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 26px;
}

.service-about__subtitle {
  color: #5b5b5b;
  padding: 0px 40px;
  font-family: "Proxima Nova Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 29px;
}

.section-title__question {
  color: #fff;
  margin-bottom: 39px;
}

.section-title__question::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -23px;
  left: 50%;
  margin-left: -24px;
  width: 48px;
  height: 1px;
  background: #fff;
}

.question {
  padding-top: 79px;
  padding-bottom: 79px;
  background: -webkit-gradient(linear, left top, right top, from(#197FBD), to(#725BA5));
  background: linear-gradient(to right, #197FBD, #725BA5);
  padding-top: 85px;
  padding-bottom: 85px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/question/question-bg.jpg") center no-repeat;
  background-size: 130%;
  background-attachment: fixed;
  background-position-y: 88%;
  opacity: 0.15;
}

.question-block__title {
  color: #fff;
  font-family: "Proxima Nova Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 31px;
}

.question-form {
  text-align: center;
}

.question-input {
  font-family: 'Proxima Nova Light';
  font-size: 14px;
  color: #606060;
  background-color: #fff;
  border: 1px solid transparent;
  width: 41%;
  height: 50px;
  border-radius: 40px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 7px;
}

.question-input__phone {
  background-image: url("../img/icon/phone-form.png");
  background-repeat: no-repeat;
  background-position: 25px;
  padding-left: 54px;
}

.question-input__user {
  background-image: url("../img/icon/user-form.png");
  background-repeat: no-repeat;
  background-position: 25px;
  padding-left: 54px;
}

.question-button {
  padding: 19px 50px;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.contacts-title {
  margin-bottom: 51px;
}

.contacts-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 409px;
  padding-left: 35px;
}

.contacts-block__title {
  color: #202020;
  font-family: "Proxima Nova Semibold";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.contacts-block__subtitle {
  color: #202020;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  top: 50%;
  margin-top: -11px;
  left: 43px;
  position: absolute;
}

.contacts-block__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 32px;
  position: relative;
  margin-bottom: 33px;
}

.contacts-block__icon1 {
  position: relative;
  width: 32px;
  min-height: 32px;
  background-image: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  border-radius: 32px;
}

.contacts-block__icon1::before {
  content: url("../img/contacts/address.png");
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -5px;
}

.contacts-block__icon2 {
  position: relative;
  width: 32px;
  min-height: 32px;
  background-image: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%);
  border-radius: 32px;
}

.contacts-block__icon2::before {
  content: url("../img/contacts/phone.png");
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -6px;
}

.contacts-button {
  width: 170px;
  height: 45px;
}

.contacts .map {
  width: 730px;
  height: 409px;
}

hr {
  opacity: 0.2;
  color: #5b5b5b;
  margin-top: 31px;
  margin-bottom: 24px;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#197FBD), to(#725BA5));
  background: linear-gradient(to right, #197FBD, #725BA5);
  padding-top: 38px;
  padding-bottom: 23px;
  position: relative;
}

.footer::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/footer/footer-bg.jpg") center no-repeat;
  background-size: 140%;
  background-attachment: fixed;
  background-position-y: 100%;
  opacity: 0.15;
}

.footer::before:hover {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo__icon {
  background: url("../img/icon/logo.png") center no-repeat;
  background-size: 100%;
  width: 166px;
  height: 60px;
}

.footer-logo__icon_line {
  padding-right: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: 1px solid #fff;
}

.footer-logo__descr {
  padding-left: 28px;
  color: #fff;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-phone__number {
  color: #fff;
  font-family: "Roboto Bold";
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.footer-phone__question {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: "Proxima Nova Light";
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.footer-phone__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
}

.footer-text {
  opacity: 0.5;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25,127,189,0.8)), to(rgba(114,91,165,0.8)));
  background: linear-gradient(to right, rgba(25,127,189,0.8), rgba(114,91,165,0.8));
}

.popup {
  opacity: 1;
  display: block;
  position: fixed;
  z-index: 1100;
  left: 50%;
  top: 50%;
  margin-top: -157px;
  width: 360px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-close {
  position: fixed;
  z-index: 20;
  right: 2%;
  top: -5px;
  font-size: 35px;
  color: #aeb1eb;
  font-weight: 300;
  cursor: pointer;
}

.popup-form {
  position: relative;
  text-align: center;
  z-index: 1;
}

.popup-form_button {
  margin-top: 10px;
  padding: 18px 33px;
}

.popup-form_button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -176px;
  right: 157px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-top: 45px;
  padding-left: 28px;
  padding-right: 28px;
  border-left: 1px solid #aeb1eb;
  cursor: default;
  pointer-events: none;
}

.popup-form_button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: 183px;
  left: 158px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-top: 45px;
  padding-left: 28px;
  padding-right: 28px;
  border-right: 1px solid #aeb1eb;
  cursor: default;
  pointer-events: none;
}

.popup-form::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: -35px;
  z-index: -1;
  padding-top: 313.5px;
  padding-left: 28px;
  padding-right: 28px;
  border-right: 1px solid #aeb1eb;
  border-left: 1px solid #aeb1eb;
  border-top: 1px solid #aeb1eb;
}

.popup-form__block {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 35px;
}

.popup-form__title {
  color: #fff;
  font-family: "Proxima Nova Bold";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.popup-form__subtitle {
  color: #fff;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 26px;
}

.overlay-thanks {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25,127,189,0.8)), to(rgba(114,91,165,0.8)));
  background: linear-gradient(to right, rgba(25,127,189,0.8), rgba(114,91,165,0.8));
}

.thankyou {
  display: none;
  z-index: 1001;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -114px;
  width: 361px;
  height: 229px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #aeb1eb;
}

.thankyou-close {
  position: absolute;
  right: 6px;
  top: -6px;
  font-size: 35px;
  color: #aeb1eb;
  font-weight: 300;
  cursor: pointer;
}

.thankyou-descr {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -116px;
  text-align: center;
}

.thankyou-descr__title {
  color: #fff;
  font-family: "Proxima Nova Bold";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.thankyou-descr__subtitle {
  color: #fff;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 26px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .popup {
    width: 360px;
  }

  .popup-form::before {
    padding-top: 315.5px;
  }

  .popup-form_button {
    margin-top: 10px;
    padding: 18px 33px;
  }

  .popup-form_button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -176px;
    right: 157px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 45px;
    padding-left: 28px;
    padding-right: 28px;
    border-left: 1px solid #aeb1eb;
    cursor: default;
  }

  .popup-form_button::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 181px;
    left: 158px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 45px;
    padding-left: 28px;
    padding-right: 28px;
    border-right: 1px solid #aeb1eb;
    cursor: default;
  }

  .button_form::before {
    bottom: -185px;
    right: 156px;
  }

  .button_form::after {
    bottom: 184px;
    left: 156px;
  }

  .header-phone__tel {
    padding-left: 30px;
  }

  .about-img2 {
    margin-left: 100px;
  }

  .about-company__img {
    margin-bottom: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-company__video {
    padding-bottom: 42.25%;
  }

  .about-company__video iframe {
    left: 50%;
    margin-left: -279px;
    width: 60%;
    height: 100%;
  }

  .slider-arrow_right_feed {
    right: 160px;
  }

  .slider-arrow_left_feed {
    left: 160px;
  }

  .certificate {
    width: 290px;
    left: 50%;
    top: 50%;
    margin-top: -204.5px;
  }

  .service-about {
    padding-right: 9px;
    padding-left: 9px;
  }

  .service-about__subtitle {
    padding: 0px 4px;
  }

  .ymaps-2-1-60-map .ymaps-2-1-60-i-ua_js_yes .ymaps-2-1-60-map-bg-ru .ymaps-2-1-60-islets_map-lang-ru {
    width: 530px;
  }

  #map {
    margin: 0 auto;
    width: 530px;
  }

  .map {
    margin: 0 auto;
    width: 530px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-mobile {
    display: none;
  }

  .hidden-screen {
    display: block;
  }

  .fa-volume-control-phone:before {
    left: 50%;
    bottom: 20%;
    margin-left: -8px;
    position: absolute;
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }

  .popup {
    width: 360px;
  }

  .popup-form__subtitle {
    font-size: 16px;
  }

  .popup-form::before {
    padding-top: 315.5px;
  }

  .popup-form_button {
    margin-top: 10px;
    padding: 18px 33px;
  }

  .popup-form_button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -176px;
    right: 157px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 45px;
    padding-left: 28px;
    padding-right: 28px;
    border-left: 1px solid #aeb1eb;
    cursor: default;
  }

  .popup-form_button::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 181px;
    left: 158px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 45px;
    padding-left: 28px;
    padding-right: 28px;
    border-right: 1px solid #aeb1eb;
    cursor: default;
  }

  .header {
    padding-bottom: 90px;
  }

  .header-arrow {
    bottom: 40px;
  }

  .header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header-phone__number {
    margin-bottom: 10px;
  }

  .header-main__descr {
    padding-right: 0;
    text-align: center;
  }

  .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer-phone__number {
    margin-bottom: 10px;
  }

  .button__top {
    width: 45px;
    height: 45px;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 19px;
    position: fixed;
    top: 2%;
    right: 16px;
    -webkit-box-shadow: 3px 2px 9px 0px #cece00;
    box-shadow: 3px 2px 9px 0px #cece00;
    z-index: 999;
  }

  .button_descr {
    margin-bottom: 80px;
  }

  .button_form::before {
    bottom: -157px;
    right: 145px;
    padding-top: 40px;
  }

  .button_form::after {
    bottom: 172px;
    left: 145px;
    padding-top: 40px;
  }

  .about-company__img {
    margin-bottom: 50px;
  }

  .reazon-why {
    margin-bottom: 30px;
  }

  .reazon-certificate {
    margin-top: 35px;
    padding: 0 25px;
  }

  .certificate {
    width: 290px;
    left: 50%;
    top: 50%;
    margin-top: -204.5px;
  }

  .slider-arrow_right_feed {
    right: 190px;
  }

  .slider-arrow_left_feed {
    left: 190px;
  }

  .service-about {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 30px;
  }

  .service-about__img {
    width: 100%;
  }

  .ymaps-2-1-60-map .ymaps-2-1-60-i-ua_js_yes .ymaps-2-1-60-map-bg-ru .ymaps-2-1-60-islets_map-lang-ru {
    width: 699px;
  }

  #map {
    margin: 0 auto;
    width: 699px;
  }

  .map {
    margin: 0 auto;
    width: 699px;
  }

  .contacts-address {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
  }

  .contacts-title {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }

  .hidden-screen {
    display: block;
  }

  .fa-volume-control-phone:before {
    left: 50%;
    bottom: 20%;
    margin-left: -8px;
    position: absolute;
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }

  .section-title__skills {
    line-height: 28px;
  }

  .popup {
    width: 290px;
  }

  .popup-form__subtitle {
    font-size: 14px;
  }

  .popup-form::before {
    padding-top: 315.5px;
  }

  .popup-form_button {
    margin-top: 10px;
    padding: 18px 33px;
  }

  .popup-form_button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -129px;
    right: 134px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    border-left: 1px solid #aeb1eb;
    cursor: default;
  }

  .popup-form_button::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 160px;
    left: 135px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    border-right: 1px solid #aeb1eb;
    cursor: default;
  }

  .header {
    padding-bottom: 90px;
  }

  .header-top {
    padding-bottom: 55px;
  }

  .header-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-logo__descr {
    padding-left: 0;
  }

  .header-logo__descr_title {
    text-align-last: center;
  }

  .header-logo__icon {
    margin-bottom: 15px;
  }

  .header-logo__icon_line {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .header-arrow {
    bottom: 40px;
  }

  .header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .header-phone__question {
    margin-right: 20px;
  }

  .header-phone__tel {
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .header-phone__number {
    margin-bottom: 10px;
  }

  .header-main__descr {
    padding-right: 0;
    text-align: center;
  }

  .footer::before {
    background-size: 235%;
  }

  .footer-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo__descr {
    padding-left: 0;
  }

  .footer-logo__descr_title {
    text-align-last: center;
  }

  .footer-logo__icon {
    margin-bottom: 15px;
  }

  .footer-logo__icon_line {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-phone__question {
    margin-right: 20px;
  }

  .footer-phone__tel {
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer-phone__number {
    margin-bottom: 10px;
  }

  .button__top {
    width: 45px;
    height: 45px;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 19px;
    position: fixed;
    top: 20%;
    right: 35px;
    -webkit-box-shadow: 3px 2px 9px 0px #cece00;
    box-shadow: 3px 2px 9px 0px #cece00;
    z-index: 999;
  }

  .button_descr {
    margin-bottom: 80px;
  }

  .button_form::before {
    bottom: -157px;
    right: 145px;
    padding-top: 40px;
  }

  .button_form::after {
    bottom: 172px;
    left: 145px;
    padding-top: 40px;
  }

  .about-img1::before {
    width: 250px;
  }

  .about-img2::before {
    width: 250px;
  }

  .about-company__img {
    margin-bottom: 50px;
  }

  .reazon-why {
    margin-bottom: 30px;
  }

  .reazon-certificate {
    margin-top: 35px;
    padding: 0 25px;
  }

  .certificate {
    width: 290px;
    left: 50%;
    top: 50%;
    margin-top: -204.5px;
  }

  .group {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .group::before {
    background-position-y: 50%;
  }

  .group-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .group-form__descr {
    margin-right: 0;
  }

  .group-form__subtitle {
    margin-bottom: 20px;
  }

  .slider-arrow_right_feed {
    right: 110px;
  }

  .slider-arrow_left_feed {
    left: 110px;
  }

  .service-about {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 30px;
  }

  .service-about__subtitle {
    padding: 0px 5px;
  }

  .question::before {
    background-size: 235%;
  }

  .question-input {
    width: 65%;
  }

  .ymaps-2-1-60-map .ymaps-2-1-60-i-ua_js_yes .ymaps-2-1-60-map-bg-ru .ymaps-2-1-60-islets_map-lang-ru {
    width: 510px;
  }

  #map {
    margin: 0 auto;
    width: 510px;
  }

  .map {
    margin: 0 auto;
    width: 510px;
  }

  .contacts-address {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
  }

  .contacts-title {
    margin-bottom: 10px;
  }
}

@media (min-width: 340px) and (max-width: 575px) {
  h1 {
    font-size: 42px;
    line-height: 35px;
  }

  .hidden-mobile {
    display: none;
  }

  .hidden-screen {
    display: block;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .bold-text {
    font-size: 17px;
  }

  .fa-volume-control-phone:before {
    left: 50%;
    bottom: 20%;
    margin-left: -8px;
    position: absolute;
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }

  .thankyou {
    width: 275px;
  }

  .popup {
    width: 290px;
  }

  .popup-form__subtitle {
    font-size: 14px;
  }

  .popup-form::before {
    padding-top: 315.5px;
  }

  .popup-form_button {
    margin-top: 10px;
    padding: 18px 33px;
  }

  .popup-form_button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -129px;
    right: 134px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    border-left: 1px solid #aeb1eb;
    cursor: default;
  }

  .popup-form_button::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 160px;
    left: 135px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    border-right: 1px solid #aeb1eb;
    cursor: default;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 90px;
  }

  .header-top {
    padding-bottom: 55px;
  }

  .header-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-logo__descr {
    padding-left: 0;
  }

  .header-logo__descr_title {
    text-align-last: center;
  }

  .header-logo__icon {
    margin-bottom: 15px;
  }

  .header-logo__icon_line {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .header-arrow {
    bottom: 40px;
  }

  .header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .header-phone__question {
    margin-right: 20px;
  }

  .header-phone__tel {
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .header-phone__number {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .header-main__descr {
    padding-right: 0;
    text-align: center;
  }

  .header-main__descr_title {
    font-size: 42px;
    line-height: 35px;
  }

  .header-main__descr_text {
    font-size: 15px;
    text-align: justify;
    text-align-last: center;
  }

  .footer::before {
    background-size: 335%;
  }

  .footer-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo__descr {
    padding-left: 0;
  }

  .footer-logo__descr_title {
    text-align-last: center;
  }

  .footer-logo__icon {
    margin-bottom: 15px;
  }

  .footer-logo__icon_line {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-phone__question {
    margin-right: 20px;
  }

  .footer-phone__tel {
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer-phone__number {
    margin-bottom: 10px;
  }

  .button__top {
    width: 45px;
    height: 45px;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 19px;
    position: fixed;
    top: 11%;
    right: 15px;
    -webkit-box-shadow: 3px 2px 9px 0px #cece00;
    box-shadow: 3px 2px 9px 0px #cece00;
    z-index: 999;
  }

  .button_descr {
    margin-bottom: 80px;
  }

  .button_form::before {
    bottom: -114px;
    right: 130px;
    padding-top: 20px;
  }

  .button_form::after {
    bottom: 146px;
    left: 130px;
    padding-top: 20px;
  }

  .form {
    left: 50%;
    margin-left: -132px;
    width: 261px;
  }

  .form::before {
    width: 281px;
    left: -10px;
  }

  .form-block {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 18px;
  }

  .form-block__subtitle {
    font-size: 15px;
  }

  .about-img {
    -ms-flex-preferred-size: 178px;
    flex-basis: 178px;
    text-align: center;
  }

  .about-img__photo1 {
    margin-left: -100px;
  }

  .about-img__photo2 {
    margin-left: 144px;
  }

  .about-img:focus {
    outline: none;
  }

  .about-img1 {
    left: 50%;
    margin-left: -132px;
    width: 239px;
  }

  .about-img2 {
    left: 50%;
    margin-left: -132px;
    width: 239px;
  }

  .about-company__img {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-company__descr {
    text-align: justify;
    text-align-last: center;
    font-size: 16px;
  }

  .skills-descr {
    font-size: 17px;
    text-align: justify;
    text-align-last: center;
    font-size: 16px;
  }

  .reazon-why {
    margin-bottom: 30px;
  }

  .reazon-certificate {
    margin-top: 35px;
    padding: 0;
    text-align: justify;
    text-align-last: center;
  }

  .reazon-certificate__img {
    width: 300px;
  }

  .feed {
    width: 300px;
  }

  .feed-form_button::before {
    bottom: -138px;
    right: 135px;
    padding-top: 30px;
  }

  .feed-form_button::after {
    bottom: 161px;
    left: 135px;
    padding-top: 30px;
  }

  .input-text {
    width: 240px;
  }

  .certificate {
    width: 290px;
    left: 50%;
    top: 50%;
    margin-top: -204.5px;
  }

  .group {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .group::before {
    background-position-y: 50%;
  }

  .group-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .group-form__descr {
    margin-right: 0;
  }

  .group-form__title {
    font-size: 20px;
  }

  .group-form__subtitle {
    margin-bottom: 20px;
    font-size: 17px;
  }

  .slider-arrow_right_feed {
    right: 10%;
  }

  .slider-arrow_left_feed {
    left: 10%;
  }

  .service-about {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 30px;
  }

  .service-about__img {
    width: 100%;
  }

  .service-about__subtitle {
    padding: 0px 0px;
  }

  .question::before {
    background-size: 303%;
  }

  .question-input {
    width: 100%;
  }

  .ymaps-2-1-60-map .ymaps-2-1-60-i-ua_js_yes .ymaps-2-1-60-map-bg-ru .ymaps-2-1-60-islets_map-lang-ru {
    width: 310px;
  }

  #map {
    margin: 0 auto;
    width: 310px;
  }

  .map {
    margin: 0 auto;
    width: 310px;
  }

  .contacts-address {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
  }

  .contacts-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 339px) {
  h1 {
    font-size: 42px;
    line-height: 35px;
  }

  .hidden-mobile {
    display: none;
  }

  .hidden-screen {
    display: block;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .bold-text {
    font-size: 17px;
  }

  .fa-volume-control-phone:before {
    left: 50%;
    bottom: 20%;
    margin-left: -8px;
    position: absolute;
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }

  .thankyou {
    width: 275px;
  }

  .popup {
    width: 290px;
  }

  .popup-form__subtitle {
    font-size: 14px;
  }

  .popup-form::before {
    padding-top: 315.5px;
  }

  .popup-form_button {
    margin-top: 10px;
    padding: 18px 33px;
  }

  .popup-form_button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -129px;
    right: 134px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    border-left: 1px solid #aeb1eb;
    cursor: default;
  }

  .popup-form_button::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 160px;
    left: 135px;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    border-right: 1px solid #aeb1eb;
    cursor: default;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 90px;
  }

  .header-top {
    padding-bottom: 55px;
  }

  .header-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-logo__descr {
    padding-left: 0;
  }

  .header-logo__descr_title {
    text-align-last: center;
  }

  .header-logo__icon {
    margin-bottom: 15px;
  }

  .header-logo__icon_line {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .header-arrow {
    bottom: 40px;
  }

  .header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .header-phone__question {
    margin-right: 20px;
  }

  .header-phone__tel {
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .header-phone__number {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .header-main__descr {
    padding-right: 0;
    text-align: center;
  }

  .header-main__descr_title {
    font-size: 42px;
    line-height: 35px;
  }

  .header-main__descr_text {
    font-size: 15px;
    text-align: justify;
    text-align-last: center;
  }

  .footer::before {
    background-size: 335%;
  }

  .footer-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo__descr {
    padding-left: 0;
  }

  .footer-logo__descr_title {
    text-align-last: center;
  }

  .footer-logo__icon {
    margin-bottom: 15px;
  }

  .footer-logo__icon_line {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-phone__question {
    margin-right: 20px;
  }

  .footer-phone__tel {
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer-phone__number {
    margin-bottom: 10px;
  }

  .button__top {
    width: 45px;
    height: 45px;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 19px;
    position: fixed;
    top: 11%;
    right: 15px;
    -webkit-box-shadow: 3px 2px 9px 0px #cece00;
    box-shadow: 3px 2px 9px 0px #cece00;
    z-index: 999;
  }

  .button_descr {
    margin-bottom: 80px;
  }

  .button_form::before {
    bottom: -114px;
    right: 130px;
    padding-top: 20px;
  }

  .button_form::after {
    bottom: 146px;
    left: 130px;
    padding-top: 20px;
  }

  .form {
    left: 50%;
    margin-left: -132px;
    width: 261px;
  }

  .form::before {
    width: 281px;
    left: -10px;
  }

  .form-block {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 18px;
  }

  .form-block__subtitle {
    font-size: 15px;
  }

  .about-company__img {
    margin-bottom: 30px;
  }

  .about-company__descr {
    text-align: justify;
    text-align-last: center;
    font-size: 16px;
  }

  .skills-descr {
    font-size: 17px;
    text-align: justify;
    text-align-last: center;
    font-size: 16px;
  }

  .reazon-why {
    margin-bottom: 30px;
  }

  .reazon-certificate {
    margin-top: 35px;
    padding: 0;
    text-align: justify;
    text-align-last: center;
  }

  .reazon-certificate__img {
    width: 300px;
  }

  .feed {
    width: 300px;
  }

  .feed-form_button::before {
    bottom: -138px;
    right: 135px;
    padding-top: 30px;
  }

  .feed-form_button::after {
    bottom: 161px;
    left: 135px;
    padding-top: 30px;
  }

  .input-text {
    width: 240px;
  }

  .certificate {
    width: 272px;
    left: 50%;
    top: 50%;
    margin-top: -192px;
  }

  .group {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .group::before {
    background-position-y: 50%;
  }

  .group-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .group-form__descr {
    margin-right: 0;
  }

  .group-form__title {
    font-size: 20px;
  }

  .group-form__subtitle {
    margin-bottom: 20px;
    font-size: 17px;
  }

  .slider-arrow_right_feed {
    right: 30px;
  }

  .slider-arrow_left_feed {
    left: 30px;
  }

  .service-about {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 30px;
  }

  .service-about__img {
    width: 100%;
  }

  .service-about__subtitle {
    padding: 0px 0px;
  }

  .question::before {
    background-size: 303%;
  }

  .question-input {
    width: 100%;
  }

  .ymaps-2-1-60-map .ymaps-2-1-60-i-ua_js_yes .ymaps-2-1-60-map-bg-ru .ymaps-2-1-60-islets_map-lang-ru {
    width: 290px;
  }

  #map {
    margin: 0 auto;
    width: 290px;
  }

  .map {
    margin: 0 auto;
    width: 290px;
  }

  .contacts-address {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
  }

  .contacts-title {
    margin-bottom: 10px;
  }
}